@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
   nav {
       @apply w-full text-3xl fixed mb-10 flex flex-row justify-between z-50 p-5
    } 

}

img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
}