@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .table-cell {
        width: 200px;
        color: black;
        background-color: transparent;
    }

    .google-visualization-table-th{
        color: black;
        background-color: transparent;
        background-image: none;
    }

    span, td {
        background-color: transparent;
    }

    .google-visualization-table-table {
        background-color: transparent !important;
    }

    .google-visualization-table-tr-even {
        @apply bg-black
    }
}
